/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* ############### START ################## */
/* # Common elements */
/* ## Boxes */
/* ## Colors */
/* ## Typography */
/* ## Buttons */
/* ## Transitions */
/* # Forms */
/* ## Custom Form styles */
/* # Custom Elements */
/* ## Board Display */
/* # Common elements ########################################################### */
/* ## Boxes -------------------------------------------------------------------- */

.centered-block {
  display: block;
  margin: 0 auto; }

.padset-xs {
  padding: 10px; }

.padset-sm {
  padding: 20px; }

.padset-md {
  padding: 30px; }

.padset-lg {
  padding: 50px; }

.padset-xl {
  padding: 80px; }

.padset-top-xs {
  padding-top: 10px; }

.padset-top-sm {
  padding-top: 20px; }

.padset-top-md {
  padding-top: 30px; }

.padset-top-lg {
  padding-top: 50px; }

.padset-top-xl {
  padding-top: 80px; }

.padset-bottom-xs {
  padding-bottom: 10px; }

.padset-bottom-sm {
  padding-bottom: 20px; }

.padset-bottom-md {
  padding-bottom: 30px; }

.padset-bottom-lg {
  padding-bottom: 50px; }

.padset-bottom-xl {
  padding-bottom: 80px; }

.top-xs-marg {
  margin-top: 10px; }

.top-sm-marg {
  margin-top: 15px; }

.top-md-marg {
  margin-top: 20px; }

.top-lg-marg {
  margin-top: 40px; }

.top-xl-marg {
  margin-top: 80px; }

.bottom-xs-marg {
  margin-bottom: 10px; }

.bottom-sm-marg {
  margin-bottom: 15px; }

.bottom-md-marg {
  margin-bottom: 20px; }

.bottom-lg-marg {
  margin-bottom: 40px; }

.bottom-xl-marg {
  margin-bottom: 80px; }

.radius-box-xs {
  border-radius: 2px; }

.radius-box-sm {
  border-radius: 4px; }

.radius-box-md {
  border-radius: 8px; }

.radius-box-lg {
  border-radius: 50%; }

.border-grey {
  border: 1px solid #ddd; }

.border-blue {
  border: 1px solid #3d5399; }
.fixed-box-md {
    width: 450px;
}

/* ## Colors ------------------------------------------------------------------- */
.background-lightgrey {
  background-color: #f0f0f0; }

.background-grey {
  background-color: #ddd; }

.background-blue {
  background-color: #3d5399; }

.background-green {
  background-color: #599a07; }

.background-red {
  background-color: #882929; }

.color-grey {
  color: #ddd; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-blue {
  color: #3d5399; }

.color-red {
  color: #882929; }

.color-green {
  color: #599a07; }

/* ## Typography --------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

/* ## Buttons ------------------------------------------------------------------ */
.btn-mat {
  border-radius: 0 !important; }

/* ## Transitions -------------------------------------------------------------- */
.transit-box-slow {
  transition: all 0.5s ease; }

.transit-box-fast {
  transition: all 0.3s ease; }

/* # Forms###################################################################### */
/* ## Custom form styles ------------------------------------------------------- */
.form-control {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #3d5399 !important;
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0px; }
  .form-control::placeholder {
    color: #fff !important; }

input, textarea, select, a, input:focus {
  outline: none !important; }

.fullscreen {
  height: 100vh; }

/* # Custom elements ########################################################### */
/* ## Board Display ------------------------------------------------------------ */
/*# sourceMappingURL=application.css.css.map */
/* common classes */
body {
  font-family: 'Montserrat', sans-serif; }

p, h1, h2, h3, h4, h5, h6, span, a {
  font-family: 'Montserrat', sans-serif; }

.hidden {
  display: none; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.nav-wrapper {
  margin: 0 auto; }

/*colors and typography*/
.color-white {
  color: #fff; }

.fonts-xl {
  font-size: 54px; }

.logo-fonts {
  transition: all 0.3s ease;
  color: #E74C3C;}

#bottomlist li a {
  color: #E74C3C;
  font-size: 16px;
  padding-top: 30px;
  margin: 0px;
  font-weight: 800 !important;
  transition: all 0.3s ease; }
#bottomlist li a:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px); }
.qscreen{
  height: 400px !important;
}
#toplist{
  background-color:#E74C3C;
  width: 100% !important;
  transition: all 0.4s ease;
}
#toplist li a{
  color: #fff;
  text-align: center;
}
#toplist li:focus,#toplist li:hover{
  background-color: #fff !important;
}
#toplist li.active{
  background-color: #fff !important;
}
#toplist li:hover a,#toplist li:focus a,#toplist li:active a{
  color: #E74C3C !important;
  background-color: #fff;
}
#toplist li a:focus{
    color: #E74C3C;
}
.sticky {
  text-shadow: #000 !important;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  height: 80px !important; }
  .sticky .logo-fonts {
    font-size: 40px; }
  .sticky #bottomlist li a {
    padding-top: 20px; }
  .sticky .navbar-brand {
    padding-top: 5px;
    transition: all 0.3s ease; }

#topnavbar {
  background-color: #3F3F3F !important;
  margin-bottom: 5%;
  margin-bottom: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

.navbar-nav#active {
  color: #dddfdf !important; }

.navbar-default {
  transition: all 0.3s ease;
  background-color: #fff;
  border-color: transparent !important;
  height: 100px;
  padding: 10px; }

.navbar-nav li ul {
  display: none;
  background-color: rgba(7, 106, 228, 0);
  color: #fff;
  transition: all 0.4s ease;
  list-style: none;
  top: 80px;
  width: 100px; }
  .navbar-nav li ul li {
    margin-left: 0px;
    padding: 10px 2px; }
.navbar-nav li:hover ul {
  display: block;
  position: absolute;
  z-index: 33;
  background-color: #076ae4; }

/*--------------------------------------------------------------
## Boxes
--------------------------------------------------------------*/
.wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.boxed-width {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; }

.border-white-solid {
  border-top: 1px solid #fff; }

.border-grey-solid {
  border-top: 1px solid #ddd; }

.padding-zero {
  padding: 0; }

.align-center {
  display: block !important;
  margin-left: auto;
  margin-right: auto; }

.min-height-medium {
  min-height: 200px; }

.min-height-large {
  min-height: 400px; }

.max-height {
  max-height: 400px; }

.no-overflow {
  overflow: hidden; }

.padding-option-one {
  padding-bottom: 20px; }

.image-box-one {
  height: 200px;
  width: auto;
  overflow: hidden;
  border: 1px solid #ddd; }

.image-box-one img {
  height: auto;
  width: auto; }

.image-box-one img:hover {
  -webkit-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  -ms-transform: rotate(7deg) scale(1.2);
  /* IE 9 */
  -webkit-transform: rotate(7deg) scale(1.2);
  /* Chrome, Safari, Opera */
  transform: rotate(7deg) scale(1.2);
  -webkit-box-shadow: inset -2px 6px 58px 0px black;
  -moz-box-shadow: inset -2px 6px 58px 0px black;
  box-shadow: inset -2px 6px 58px 0px black; }

.image-box-two {
  height: 200px;
  width: auto;
  overflow: hidden; }

.border-right {
  border-right: 1px solid #ddd; }

.border-set-bottom {
  border-bottom: 1px solid #ddd; }

.padding-set-bottom {
  padding-bottom: 10px; }

.padding-set-top {
  padding-top: 10px; }

.padding-set-bigger-top {
  padding-top: 70px; }

.padding-set-bigger-bottom {
  padding-bottom: 70px; }

.anti-row {
  margin-right: 15px;
  margin-left: 15px; }

.cancel-border {
  border: 0px !important; }

.profile-transparent {
  overflow: visible; }

.bubble-left {
  position: relative;
  width: 100%;
  height: auto;
  padding: 25px !important;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.bubble-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 45px; }

.bubble-right {
  position: relative;
  width: 100%;
  height: auto;
  padding: 25px !important;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.bubble-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 45px; }

.angled-top-red {
  height: 0;
  border-width: 0 100vw 200px 0;
  border-style: solid;
  border-color: transparent transparent #E74C3C transparent; }

.angled-top-blue {
  height: 0;
  border-width: 0 100vw 200px 0;
  border-style: solid;
  border-color: transparent transparent #297D99 transparent; }

.angled-bottom-blue {
  height: 0;
  border-width: 0 100vw 200px 0;
  border-style: solid;
  border-color: transparent #297D99 transparent  transparent; }

.angled-bottom-red {
  height: 0;
  border-width: 0 100vw 200px 0;
  border-style: solid;
  border-color: transparent #E74C3C transparent  transparent; }

.angled-bottom-grey {
  height: 0;
  border-width: 0 100vw 200px 0;
  border-style: solid;
  border-color: transparent #f0f0f0 transparent  transparent; }

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.button, input[type="reset"], input[type="submit"], input[type="button"] {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 1px;
  color: #fff;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 20px;
  text-transform: uppercase;
  line-height: 40px;
  zoom: 1;
  background: none;
  background-color: #199cd8;
  background-clip: border-box;
  box-shadow: none;
  text-shadow: none;
  font-weight: bold; }

.button-bordered-red {
  background-color: transparent;
  border: 2px solid #E74C3C;
  color: #E74C3C; }

.button-bordered-blue {
  background-color: transparent;
  border: 2px solid #297D99;
  color: #297D99; }

.button-bordered-white {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff; }

/*--------------------------------------------------------------
## Headline Styles
--------------------------------------------------------------*/
.heading-strip-one {
  padding: 10px;
  border-radius: 3px;
  border: 1px #ddd solid;
  background-color: #fff;
  color: #E74C3C; }

.heading-strip-two {
  padding: 10px;
  border-radius: 3px;
  border: 1px #ddd solid;
  background-color: #E74C3C;
  color: #f0f0f0; }

.heading-strip-three {
  padding: 10px;
  color: #aaa;
  text-align: center; }

/*--------------------------------------------------------------
## Colors
--------------------------------------------------------------*/
.color-red {
  color: #E74C3C; }

.color-white {
  color: #fff !important; }

.color-blue {
  color: #297D99; }

.grey {
  background-color: #ddd; }

.background-white {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px; }

.background-grey {
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px; }

.background-red {
  background-color: #E74C3C !important;
  padding-bottom: 10px; }

.background-blue {
  background-color: #297D99 !important;
  padding-bottom: 10px; }

.background-custom-image {
  background-image: url(../images/desk_flat-01-o.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  backface-visibility: 0.5; }

.transparent-cover-black {
  background-color: rgba(0, 0, 0, 0.7); }

.transparent-cover-white {
  background-color: rgba(255, 255, 255, 0.7); }

/*--------------------------------------------------------------
## Cards
--------------------------------------------------------------*/
.card-one {
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px #ddd solid;
  background-color: #E74C3C;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-two {
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px #ddd solid;
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-three {
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-four {
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #297D99;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-white {
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #000; }

.card-side-border {
  padding: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #000; }

/*--------------------------------------------------------------
## Circle Thumbnails
--------------------------------------------------------------*/
.thumbnail-one {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  padding: auto;
  padding-top: 20px; }

.thumbnail-two {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid  #E74C3C;
  text-align: center;
  color: #E74C3C;
  padding-top: 20px; }

/* coversection */
.parallax-background {
  background-attachment: fixed; }

.float-back {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  z-index: -99;
  margin-top: 0px;
  border-bottom: 1px solid #ddd; }

/*--------------------------------------------------------------
## Circle Thumbnails
--------------------------------------------------------------*/
.thumbnail-one {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  padding: auto;
  padding-top: 20px; }

.thumbnail-two {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid  #E74C3C;
  text-align: center;
  color: #E74C3C;
  padding-top: 20px; }

/*--------------------------------------------------------------
## Images
--------------------------------------------------------------*/
.circular-image-one {
  padding: 6px;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 250px;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto; }

.square-image-one {
  width: 250px;
  height: auto;
  border: 1px solid #fff; }

.logo {
  width: 120px;
  height: auto; }

.thumbnail-image-box {
  border: 3px solid #fff;
  overflow: hidden;
  width: 150px;
  height: 150px; }

/* # Custom elements ########################################################### */
/* ## coverimage ------------------------------------------------------------ */
.mainheading {
  text-align: center;
  margin-top: 20%;
  font-size: 64px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 10px; }

.coverheading {
  width: 100%; }

.headingpanel {
  position: fixed;
  transition: all 0.5s ease;
  margin-top: 10%;
  width: 60%;
  padding: 30px;
  display: block;
  margin-left: 40%;
  margin-right: 40%; }

.floater {
  opacity: 0;
  margin-top: 10%; }

/*-------------------------------
##Blog
-------------------------------*/
/*........ blog v2 ..............*/
#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto; }

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 1px solid #ddd;
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px; }

.pin p {
  color: #ddd;
  margin: 0; }

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; } }
#columns:hover .pin:not(:hover) {
  opacity: 0.4; }

/*-------------------------------
##Footer
-------------------------------*/
footer {
  width: 100%;
  min-height: 500px;
  background-color: #E74C3C; }

footer.footer-v2 {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #297D99; }

.footer-v2 .footertext {
  color: #fff !important; }

.footer-one {
  background-image: url(images/footer.png);
  padding: 50px 50px 0 50px; }

.footer-one {
  background-image: url(images/footer.png);
  padding: 50px 50px 0 50px; }

.footer-strip {
  padding: 10px 0 0 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #ddd;
  background-color: #f0f0f0;
  -webkit-box-shadow: 2px 11px 8px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 8px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 11px 8px -11px rgba(0, 0, 0, 0.75); }

.footer-strip span {
  padding-bottom: 10px; }

.footer-nav-strip {
  height: 50px;
  border-top: 1px solid #ddd;
  background-color: #f0f0f0; }

.footer-nav {
  list-style: none;
  padding: 0px; }

.footer-nav li {
  float: left;
  display: block;
  height: 100%;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -10px; }

/*# sourceMappingURL=application.css.map */


/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/
.section-contact{
    background-image: url(../Images/bedge_grunge.png);
    padding: 20px 40px 40px 40px;
}